xml/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="baseField" abstract="true">
    <xsd:sequence>
      <xsd:element name="title" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="varField" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="baseField">
        <xsd:sequence>

          <xsd:element name="value" type="xsd:string" />
		  <xsd:element name="constant" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  
  <xsd:complexType name="stringField" >
    <xsd:complexContent>
      <xsd:extension base="varField">
        <xsd:sequence>
		  <xsd:element name="pattern" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		  <xsd:element name="length" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
		  <xsd:element name="minLength" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
		  <xsd:element name="maxLength" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="intField" >
    <xsd:complexContent>
      <xsd:extension base="varField">
        <xsd:sequence>
			<xsd:element name="maxInclusive" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="maxExclusive" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="minInclusive" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="minExclusive" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="deviceConfig">
    <xsd:complexType>
      <xsd:sequence>

        <xsd:element name="libraries" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="file" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
              <!-- TODO add regex to end in .h and have no spaces -->
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:sequence>
          <xsd:element name="field" type="baseField" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- end deviceConfig -->

</xsd:schema>